.walletCard {color: chocolate;}
.MetaBtn {
        margin-top: 8px;
        margin-bottom: 10px;
        background-color: #d58121; 
        border: none;
        color: rgb(255, 255, 255);
        padding: 20px 55px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;}
.inputS { 
        border: 2px solid orange;
        border-radius: 4px;
        color: rgb(31, 31, 31);
        padding: 10px 60px;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
}
.sendT {
        color: chocolate;
        margin-bottom: 4px;
}
.flex-1 {
        font-size: 20px;
        margin-bottom: 60px;
        color: grey;
}